{% extends "layout.html" %}

{% block content %}
<h2>Dashboard refresh {{time}}</h2>
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Dátum</a></th>
        <th scope="col">Mena</a></th>
        <th scope="col">Nákup/Predaj</a></th>
        <th scope="col">Krypto</a></th>
        <th scope="col">Zostatok</a></th>
        <th scope="col">Fiat</a></th>
        <th scope="col">Kurz</a></th>
        <th scope="col">Poznámka</a></th>
      </tr>
    </thead>
    <tbody>
      {% for riadok in krypto %}
      <tr>
        <td>{{riadok[5]}}</td>
        <td>{{riadok[4]}}</td>
        <td>{{riadok[0]}}</td>
        <td>{{riadok[1]}}</td>
        <td>dorobiť</td>
        <td>{{riadok[2]}}</td>
        <td>dorobiť</td>
        <td>{{riadok[6]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}